.mainSlide {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
}
* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
}
body {
	background-color: #ffffff;
}
 .instructionsColorTime {
	 color: red;
 }
 .predictedWordColor {
	 color: red;
 }
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
	background-color: orange;
}
.sidebarStyle {
	border: 2;
	border-color: red;
}
.sidebarHeading {
	color: red;
}
